<!DOCTYPE html>
<html>
    <body>
        <h1>Calculator</h1>

        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}

        {{ form_start(form, { 'attr': { 'data-turbo': 'false' } }) }}
            {{ form_errors(form) }}
            {{ form_row(form.a) }}
            {{ form_row(form.operation) }}
            {{ form_row(form.b) }}
        {{ form_end(form) }}

        {% if result is not null %}
            <h3>Result: {{ result }}</h3>
        {% endif %}
    </body>
</html>